{% extends 'base.html' %}

{% block content %}
{% for image in images %}
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="{{ image.find('img')['src']|safe }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ image.find('a').find('img')['title']|safe }}</h5>
    <!--      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <a href="{{ image.find('a')['href']|safe }}" class="btn btn-primary text-center">Detail</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

